
.related {
    :global {
        h2 {
            margin-top: 2rem;
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;

            li {
                
            }
        }
    }
}