
.cookie-drawer {

    :global {
        h2 {
            margin-top: 1.5rem;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .chakra-accordion__root {
            margin-top: 2rem;
        }

        .accept-all {
            width: 100%;
            margin-top: 2rem;

            &.hide {
                visibility: hidden;
            }
        }

        .chakra-accordion__item {
            position: relative;

            .chakra-switch__root {
                position: absolute;
                right: 1rem;
                top: 0.8rem;
            }
        }

        .chakra-drawer__footer {
            button {
                width: 100%;
            }
        }
    }
}
