
.address-form {
    border: 1px dashed black;
    padding: 1.5rem;
    margin: 2rem 0;

    :global {

        .title {
            margin-bottom: 1rem;
        }
    
        .fields {
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            margin-bottom: 1.3rem;
        }
    
        .province {
            display: flex;
            gap: 2rem;
        }
    }
}

.address {

    &.selectable.selected {
        outline: 2px solid var(--chakra-colors-orange-600);
        outline-offset: -2px;
    }

    &.selectable {
        position: relative;
        outline: 1px solid black;
        outline-offset: -1px;
        padding: 0.6rem;
        margin-bottom: 1.1rem;
        border-radius: .3rem;
    }

    :global { 

        h3 {
            p {
                color: var(--chakra-colors-gray-600);
            }
        }
        
        .content {

        }

        .checked {
            position: absolute;
            right: .6rem;
            top: .8rem;
        }
    }
}

.add-address {
    width: 100%;
    justify-content: flex-start;
    border: 1px dashed;
    padding-left: 2.5rem;
    height: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
