
.footer {
    background-color: var(--chakra-colors-gray-100);
    padding: 3rem;

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

        .section {
            display: flex;
            flex-direction: column;
            gap: .6rem;

            ul {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                li {
                    display: flex;
                    gap: .3rem;
                    align-items: center;
                    font-size: var(--chakra-font-sizes-sm);
                }
            }
        }
    }

    [role=separator] {
        margin: 2rem 0;
    }

    ul.bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: .5rem;
        margin-left: -1rem;

        li {
            display: flex;
            gap: .3rem;
            align-items: center;
        }
    }
}