
.page {
    max-width: 1340px;
    margin: 5rem auto 1rem;

    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;

    :global {

        .auth-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2.1rem;
            width: 440px;
        }

        .title {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                color: var(--chakra-colors-orange-600);
            }
    
            p {
                color: var(--chakra-colors-gray-700);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .actions {
                display: contents;

                button {
                    padding: 1.5rem 0;
                }
            }
        }
    }
}