
.page {
    padding: 16px;

    :global {
        h1 {
            margin: 1rem 0 .4rem;
        }

        .personal-detail {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .edit {
                display: grid;
                grid-template-areas: "l a" "v a";
                row-gap: 0.3rem;
                grid-template-columns: 1fr;

                label {
                    grid-row: l;
                }

                p {
                    grid-area: v;
                    color: var(--chakra-colors-gray-600);
                }

                button {
                    grid-area: a;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1.7rem;

                .actions {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                }

                [role=separator] {
                    margin: 0;
                }

                .subtitle {
                    margin-top: -1rem;
                }
            }
        }

        [role=separator] {
            margin: 3rem 0;
            background-color: var(--chakra-colors-gray-300);
        }

        .preferences {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 2rem;

            label {
                align-items: flex-start;

                [data-part=item-control] {
                    position: relative;
                    top: 0.3rem;
                }
            }

            .description {
                color: var(--chakra-colors-gray-600);
                margin-top: .5rem;
            }
        }
    }
}