
.page {
    padding: 16px;

    :global {
        h1 {
            margin: 1rem 0 .4rem;
        }

        .subtitle {
            margin-top: 2rem;
        }

        .add-address {
            width: 100%;
            justify-content: flex-start;
            border: 1px dashed;
            padding-left: 2.5rem;
            height: 4.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}
