
.page {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    :global {

        .auth-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2.1rem;
        }

        .title {
            line-height: 2.5rem;

            h1 {
                color: var(--chakra-colors-orange-600);
            }
    
            p {
                color: var(--chakra-colors-gray-700);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .actions {
                display: contents;

                button, a {
                    padding: 1.5rem 0;
                }
            }
        }

        .other {
            [role=separator] {
                background-color: var(--chakra-colors-gray-300);
            }

            p {
                color: var(--chakra-colors-gray-700);
            }
        }

        .options {
            .social-auth {
                display: flex;
                gap: 2rem;
                justify-content: center;

                button {
                    padding: 1.7rem 0.8rem;
                }
            }

            .signup {
                padding: 1rem 0;
                background-color: var(--chakra-colors-gray-100);
                margin-top: 2.1rem;
                text-align: center;

                a {
                    color: var(--chakra-colors-orange-600);
                    font-weight: 600;
                }
            }
        }
    }
}