
@use "@/app/variables.module.scss" as vars;

.backdrop, .menu {
    z-index: 1;
}

.backdrop {
    display: none;

    &.open {
        display: block;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: black;
        opacity: .5;
    }
}

.menu {
    display: none;

    &.open {
        display: block;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 70%;
        background-color: white;

        li {
            &:first-child {
                padding-top: 2vh;
            }

            padding: 0 2vh;
        }

        .item {

        }

        .title {
            h3 {
                margin-top: 1vh;
            }
        }

        .user {
            padding: 2vh;
            background-color: vars.$border-color-1;
            display: flex;
            gap: 2vh;
            align-items: center;

            .info {
                display: flex;
                flex-direction: column;
                gap: .5vh;

                p:first-child {
                    font-weight: 600;
                }
            }
        }

        .localization {
            button {
                margin-top: 1vh;
            }
        }
    }
}
